<form (ngSubmit)="onSubmit(myForm)" #myForm="ngForm">

  <label for="name">Name:</label>
  <input id="name" type="text" name="name" ngModel required>

  <br><br>

  <label for="email">Email:</label>
  <input id="email" type="email" name="email" ngModel required>

  <br><br>

  <label for="country">Country:</label>
  <select id="country" name="country" ngModel required>
    <option value="">Select country</option>
    <option value="ind">India</option>
    <option value="us">United States</option>
    <option value="ca">Canada</option>
    <option value="uk">United Kingdom</option>
  </select>

  <br><br>

  <fieldset>
    <legend>Gender</legend>
    <div *ngFor="let gender of genders; let i = index">
      <input 
        type="radio"
        [id]="'gender-' + i"
        name="gender"
        [value]="gender"
        ngModel
        required
      >
      <label [for]="'gender-' + i">{{ gender }}</label>
    </div>
  </fieldset>

  <br>

  <label>Hobbies:</label>
  <div *ngFor="let hobby of hobbyList">
    <input 
      type="checkbox"
      [value]="hobby"
      (change)="onHobbyChange($event)"
    >
    {{ hobby }}
  </div>

  <br>

  <button type="submit">Submit</button>

</form>