<div>
  <h1>Reactive Forms</h1>

  <form [formGroup]="studentForm" (ngSubmit)="onSubmit()" >
    <div>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" formControlName="name" required>
    </div>
    <div style="color: red;" *ngIf="studentForm.get('name')?.touched && studentForm.get('name')?.invalid">
      Name is required.
    </div>

    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" formControlName="email" required>
    </div>
    <div style="color: red;" *ngIf="studentForm.get('email')?.touched && studentForm.get('email')?.invalid">
      Valid email is required.
    </div>

    <div>
      <label for="country">Country:</label>
      <select id="country" name="country" formControlName="country" required>
        <option value="">Select Country</option>
        <option value="USA">USA</option>
        <option value="Canada">Canada</option>
        <option value="UK">UK</option>
      </select>
    </div>
      <div style="color: red;" *ngIf="studentForm.get('country')?.touched && studentForm.get('country')?.invalid">
        Country is required.
      </div>

    <div>
      <label>Gender:</label>
      <div *ngFor="let gender of genders">
        <input 
          type="radio"
          [id]="'gender-' + gender"
          name="gender"
          [value]="gender"
          formControlName ="gender"
          required
        >
        <label [for]="'gender-' + gender">{{ gender }}</label>
      </div>
    </div>
    <div style="color: red;" *ngIf="studentForm.get('gender')?.touched && studentForm.get('gender')?.invalid">
      Gender is required.
    </div>

    <div formArrayName="hobbies">
      <label>Hobbies:</label>

      <div *ngFor="let hobby of hobbyList; let i = index">
        <input type="checkbox" [formControlName]="i">
        {{ hobby.name }}
      </div>
        <button type="submit" >Submit</button>
    </div>
  </form>
</div>